<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.menatwork"
    android:debuggable="true"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- GCM -->
    <permission
        android:name="com.menatwork.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.menatwork.permission.C2D_MESSAGE" />
    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.menatwork.TalentRadarApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.menatwork.DispatcherActivity"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@android:style/Theme.Black" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.menatwork.LoginActivity"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Light" >
            <intent-filter>
                <data android:scheme="talent.call.linkedin.back" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.menatwork.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity android:name="com.menatwork.DashboardActivity" >
        </activity>
        <activity
            android:name="com.menatwork.ProfileActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name="com.menatwork.PingAlertActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name="com.menatwork.ChatActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Light" >
        </activity>

        <!-- Registration flow activities -->
        <activity
            android:name="com.menatwork.register.ChooseTypeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name="com.menatwork.register.EssentialsActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name="com.menatwork.register.PasswordActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name="com.menatwork.register.SkillsActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity android:name=".RadarActivity" >
        </activity>

        <service
            android:name="RadarService"
            android:label="@string/radar_service_name" >

            <!-- TODO - This would be a good idea in the future for our service, -->
            <!-- but we could might as well avoid it for a while! Our present implementation -->
            <!-- android:process=":radar_process" -->
        </service>

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.menatwork" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMIntentService" />

        <activity
            android:name=".TrPreferenceActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Black" >
        </activity>
        <activity android:name=".dashboard.DashboardNotificationListActivity" >
        </activity>
        <activity
            android:name="ExpiredActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.menatwork.NewHuntActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity android:name="HuntsActivity" android:theme="@android:style/Theme.Light"></activity>
        <activity android:name="MiniProfilesActivity" android:theme="@android:style/Theme.Light"></activity>
    </application>

</manifest>